header {
    position: relative;
    height: 100vh;
    background-color: dodgerblue;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    color: #ffffff;
}

header .headerText > *  {
    padding: 1rem;
}

header p:nth-child(1) {
    font-weight: 900;
    font-size: 4rem;
    padding-top: 3rem;
}

header p:nth-child(3) {
    font-size: 2rem;
}

header button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
}

header img {
    height: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
}

@media all and (min-width: 736px) and (orientation: landscape) {
    html {
        font-size: 12px;
    }

    header img {
        height: 55%;
    }
}

@media all and (min-width: 768px) and (orientation: portrait) {
    html {
        font-size: 16px;
    }

    header button {
        border: 4px solid white;
        padding: 1rem 1.5rem;
        font-size: 2rem;
    }

    header img {
        height: 55%;
    }

}

@media all and (min-width: 1024px) and (orientation: landscape){
   html{
       font-size: 15px;
   }

    header{
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: center;
    padding-left: 5rem;
    }
    header .headerText button{
        border: 4px solid white;
        font-size: 2rem;
        padding: 1rem 2.5rem;
    }
    header img {
        height: 70%;
    }
}
@media all and (min-width: 1024px) and (orientation: portrait) {
    html {
        font-size: 20px;
    }
}
@media all and (min-width: 1200px) {
    header img {
        height: 90%;
    }
}
